//文字間距
@mixin font($size, $font-weight: normal) {
    font-size: $size;
    line-height: $size*1.5;
    font-weight: $font-weight;
}

//文字行數顯示
@mixin text-rows($rows:2) {
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $rows;
    -webkit-box-orient: vertical;
    white-space: normal;
}