//變化速率
@mixin transition($time, $time-function: linear) {
    transition-duration: $time;
    transition-timing-function: $time-function;
}

//動畫
@mixin animation-linear($name, $time, $time-function: linear) {
    animation-name: $name;
    animation-duration: $time;
    animation-timing-function: $time-function;
}