//外觀-----
//尺寸
@mixin size($size) {
    height: $size;
    width: $size;
}
//圓角
@mixin radius($size){
    border-radius: $size;
}

//內間距-----
//上方
@mixin p-t($top) {
    padding-top: $top;
}
//右方
@mixin p-r($right) {
    padding-right: $right;
}
//下方
@mixin p-b($bottom) {
    padding-bottom: $bottom;
}
//左方
@mixin p-l($left) {
    padding-left: $left;
}
//x-軸
@mixin p-x($pl, $pr) {
    padding-left: $pl;
    padding-right: $pr;
}


//外間距-----
//上方
@mixin m-t($top) {
    margin-top: $top;
}
//右方
@mixin m-r($right) {
    margin-right: $right;
}
//下方
@mixin m-b($bottom) {
    margin-bottom: $bottom;
}
//左方
@mixin m-l($left) {
    margin-left: $left;
}
//x-軸
@mixin m-x($ml, $mr) {
    margin-left: $ml;
    margin-right: $mr;
}
//y-軸
@mixin m-y($mt, $mb) {
    margin-top: $mt;
    margin-bottom: $mb;
}


//定位屬性-----
//絕對定位
@mixin absolute($top, $right, $bottom, $left, $margin: auto) {
    position: absolute;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
    margin: $margin;
}
//固定定位
@mixin fixed($top, $right, $bottom, $left, $margin: auto) {
    position: fixed;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
    margin: $margin;
}


//排版屬性-----
//橫式
@mixin flex-row($dierction: row, $wrap: nowrap) {
    display: flex;
    flex-direction: $dierction;
    flex-wrap: $wrap;
}
//直式
@mixin flex-col($dierction: column) {
    display: flex;
    flex-direction: $dierction;
}


//動畫屬性-----
//旋轉
@mixin rotate($degree) {
    transform: rotate($degree)
}
//縮放
@mixin scale($n) {
    transform: scale($n)
}
//傾斜
@mixin skew($x, $y) {
    transform: skew($x, $y)
}
//位移
@mixin translate($x, $y) {
    transform: translate($x, $y);
}